In [21]:
import numpy as np
def na_check(df_data):
    data_na = (df_data.isnull().sum() / len(df_data)) * 100
    data_na = data_na.drop(data_na[data_na == 0].index).sort_values(ascending=False)
    missing_data = pd.DataFrame({'Missing Ratio' :data_na})
    display(missing_data.head(20))

In [22]:
import pandas as pd
path = 'C:/Users/samue/Downloads/data/'
df = pd.read_csv(path + 'dataset.csv')
na_check(df)

                               Missing Ratio
GRAMM WENDY L                      84.210526
WROBEL BRUCE                       84.210526
THE TRAVEL AGENCY IN THE PARK      84.210526
WHALEY DAVID A                     84.210526
SCRIMSHAW MATTHEW                  84.210526
SAVAGE FRANK                       78.947368
GILLIS JOHN                        78.947368
CHRISTODOULOU DIOMEDES             78.947368
GATHMANN WILLIAM D                 78.947368
LOWRY CHARLES P                    78.947368
WAKEHAM JOHN                       78.947368
MENDELSOHN JOHN                    73.684211
WINOKUR JR. HERBERT S              73.684211
FUGH JOHN L                        73.684211
BLAKE JR. NORMAN P                 73.684211
YEAP SOON                          73.684211
URQUHART JOHN A                    73.684211
PEREIRA PAULO V. FERRAZ            73.684211
NOLES JAMES L                      73.684211
DUNCAN JOHN H                      68.421053